.banner {
    background-image: url('https://kenh14cdn.com/2018/11/19/artboard-1-copy-2-15426460953431114984504.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(201, 195, 195, 0.17);
}

.banner-content {
    position: relative;
    color: rgb(250, 250, 250);
    max-width: 800px;
}
.banner-content h2 {
    font-size: 30px;
    margin-top: 100px;
}
.banner-content p {
    margin-top: 10px;
    font-size: 18px;
}

.info-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px 10%;
    background: #FFF9E9;
}

.info-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #f1e6c3;
}

.info-card i {
    font-size: 32px;
    color: #d49c00;
    margin-bottom: 10px;
}

.contact-container {
    display: flex;
    padding: 40px 10%;
    gap: 40px;
    background: #ffffff;
}

.contact-form {
    flex: 2;
    background: #fafafa;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #eee;
}

.contact-form h2 {
    margin-bottom: 5px;
}

.contact-form p {
    color: #333333;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
}



button {
    background: #000;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: linear-gradient(#11998e, #38ef7d);
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-box {
    background: #fff4cc;
    padding: 20px;
    border-radius: 12px;
    border-left: 6px solid #f2c14e;
}
.side-box h3 {
    margin-bottom: 10px;
}
