* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 140px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(#11998e, #38ef7d);
    z-index: 1000;
}

.header-top-container {
    width: 100%;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
}

.logo a {
    font-size: 32px;
    font-weight: 700;
    color: pink;
}

.search-form {
    display: flex;
    flex: 1;
    max-width: 650px;
    margin: 0 30px;

    background: white;
    border-radius: 40px;
    overflow: hidden;
    height: 44px;
}

.search-input {
    flex: 1;
    border: none;
    padding: 0 20px;
    font-size: 15px;
    outline: none;
}

.search-btn {
    border: none;
    background: transparent;
    font-size: 22px;
    padding: 0 18px;
    cursor: pointer;
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.cart-wrap {
    position: relative;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-wrap i {
    font-size: 24px;
    line-height: 1;
    display: block;
}

.cart-badge {
    position: absolute;
    top: -6px;
    right: -6px;

    min-width: 16px;
    height: 16px;

    background: #ff3b3b;
    color: #fff;

    font-size: 10px;
    font-weight: 600;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 1;
}

.cart-badge.hidden {
    display: none;
}
.header-bottom-nav {
    background: white;
    padding: 8px 0;
}

.nav__links ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.nav__links a {
    font-size: 14px;
    font-weight: 600;
    color: black;
    position: relative;
}

.nav__links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: #38ef7d;
    transition: 0.3s;
}

.nav__links a:hover::after {
    width: 100%;
}
