* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    padding-top: 130px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: black;
    overflow-x: hidden;
    background: white;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    font-family: inherit;
    cursor: pointer;
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-page {
    width: 90%;
   width: auto;
    padding-bottom: 5vh;
}
.cart-header{
    font-size: 26px;
    font-weight: 700;
    color: #2C2C2C;
    margin-left: 8vh;
}
.cart-header h1 {
    font-size: 26px;
    margin-bottom: 25px;

}
.cart-header h1 i {
    font-size: 34px;
    margin-right: 6px;
    vertical-align: -4px;
    color:  #f2c14e;
}

.cart-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}

.cart-items {
    flex: 3;
    margin-left: 15vh;

}

.cart-total {
    flex: 1;
    background: #f9f9f9;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: fit-content;
    position: sticky;
    top: 20px;
    margin-right: 40px;
    border: 1px solid rgba(28, 28, 28, 0.48);

}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(28, 28, 28, 0.48);

}

.cart-item img {
    width: 90px;
    height: 90px;
    border-radius: 8px;
    object-fit: cover;
}

.product-info {
    flex: 2;
    margin-left: 20px;
}

.product-name {
    font-weight: 600;
    font-size: 1.05em;
    color: #0d1e37;
    margin-bottom: 6px;
}

.product-descr {
    font-size: 14px;
    color: #666;
}

.qty-price {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    justify-content: flex-end;
}

.qty-control {
    display: flex;
    align-items: center;
    gap: 6px;
}

.qty-control button {
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.qty-control button:hover {
    background: linear-gradient(#11998e, #38ef7d);
    color: white;
}

.qty-control span {
    padding: 0 10px;
    font-weight: bold;
}

.product-price {
    font-size: 1.1em;
    color: #333;
}

.cart-item i.bx-trash {
    font-size: 1.4em;
    color: #888;
    cursor: pointer;
    transition: 0.2s;
}

.cart-item i.bx-trash:hover {
    color: #ff4b2b;
}

.cart-total h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 600;
}

.cart-total .line {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.voucher {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.voucher input {
    flex: 1;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 12px;
    transition: 0.2s;
}

.voucher input:focus {
    border-color: #f27a1a;
    box-shadow: 0 0 4px rgba(242, 122, 26, 0.4);
    outline: none;
}

.voucher button {
    padding: 10px 16px;
    background: #f27a1a;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s;
}

.voucher button:hover {
    background: linear-gradient(#11998e, #38ef7d);
}
.checkout-button {
    width: 100%;
    display: inline-block;
    background: #f27a1a;
    color: white;
    text-align: center;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
}
.checkout-button:hover {
    background: linear-gradient(#11998e, #38ef7d);
}