* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fafafa;
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.cart-page {
    width: 70%;
}
.cart-page .cart-header h1{
    font-size: 22px;
    margin-left: 10px;
}
.cart-page .cart-header h1 i{
    vertical-align: middle;
    font-size: 40px;
    margin-right: 5px;
    vertical-align: -7px;

}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    width: 100px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-info {
    margin-left: 20px;
}

.product-name {
    font-weight: bold;
    font-size: 1.1em;
    color: #0d1e37; /* Màu chữ đậm */
    margin-bottom: 5px;
}

.product-descr {
    font-size: 14px;
    color: #666;
}

.act-container{
    gap: 30px;
    display: flex;
    margin-left: auto;
    align-items: center;

}
.qty-control span {
    padding: 0 10px;
    font-weight: bold;
}
.qty-control {
    display: flex;
    align-items: center;
    gap: 5px;
}

.qty-control button {
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 50%;
    font-size: 16px;
}
.qty-control button:hover {
    cursor: pointer;
    background:linear-gradient(#11998e, #38ef7d) ;
}
.price-box{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    gap: 12px;
}
.price-box i{
    font-size: 1.3em;
    cursor: pointer;
    color: #888;
}

.cart-total {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: fit-content;
}

.cart-total h3 {
    margin-bottom: 15px;
}

.cart-total .line {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.checkout-btn {
    width: 100%;
    background: #f27a1a;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}
